body{
    background-color: rgb(232, 231, 231);
}

#doboz{
    background-color: antiquewhite;
    border: solid 1.5px;
    border-color: rgb(250, 195, 127);
    padding: 30px;
}

ul {
    list-style: none;
}

[type="checkbox"]
{
    vertical-align:middle;
    margin-bottom: 3px;
}
